/* *{border: 1px solid red;} */
body{
    height: 100vh;
}
.modal-dialog{
    /* width: 380px;
    height: 100vh; */
    min-width: 100vw;
    min-height: 100vh;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-content{
    width: 380px;
    height: 79vh;
   
}

button{
    background-color: rgb(47, 104, 227);
    border: 1px solid rgb(30, 30, 30);
}

.dark{
    background-color: rgb(48, 44, 44);
    
}

.dark-theme-button{
   position: absolute;
}